# Default is to keep crlf line endings
text=auto

README.md text eol=crlf
LICENSE text eol=crlf
*.ASM text eol=crlf linguist-language=Assembly
*.COM binary
*.DAT text eol=crlf
*.DEF text eol=crlf linguist-language=Pascal
*.INC text eol=crlf linguis-language=Pascal
*.MAC text eol=crlf linguist-language=Assembly
*.SUB text eol=crlf
*.lbr binary
*.LIB text eol=crlf
*.LBR binary
*.PAS text eol=crlf linguis-language=Pascal
